mat-toolbar.header {
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    padding: 0 0px;
}
h1 {
    font-size: 30px;
    font-family: verdana;
    color: yellow;
  }

h3 {
    color: black;
    font-family: verdana;
}

img {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-self: flex-start;
    width: 160px;
    height: 64px;
}