mat-checkbox {
	background-color: #ffff28;
	border-color: grey;
	border-bottom-width: 1px;
	text-align: center;
	display: inline-block;
	font-size: 15px;
	padding: 10px;
	margin: 5px;
	cursor: pointer;
	width: 20%;
}

mat-checkbox.mat-checkbox-checked{
	background-color: rgba(50, 205, 50, 0.795);
	color: black;
	border-color: grey;
	border-bottom-width: 1px;
	text-align: center;
	font-size: 15px;
	padding: 10px;
	margin: 5px;
	cursor: pointer;
	outline: 0;
}

mat-checkbox.selected{
	color: black;
	border-color: grey;
	border-bottom-width: 1px;
	text-align: center;
	font-size: 15px;
	padding: 10px;
	margin: 5px;
	cursor: pointer;
	outline: 0;
}

mat-checkbox:hover{
	background-color: #ffe228;
	outline: 0;
}

img{
	width: 20%;
	height: 20%;
}