button {
	background-color: #ffff28;
	border-color: grey;
	border-bottom-width: 1px;
	text-align: center;
	display: inline-block;
	font-size: 15px;
	padding: 10px;
	margin: 5px;
	cursor: pointer;
	width: 25%;
}

button:hover{
	background-color: #ffe228;
	outline: 0;
}

button.selected{
	background-color: limegreen;
	color: white;
	border-color: grey;
	border-bottom-width: 1px;
	text-align: center;
	display: inline-block;
	font-size: 15px;
	padding: 10px;
	margin: 5px;
	cursor: pointer;
	width: 25%;
	outline: 0;
}

p.selected{
	background-color: blue;
	border-color: grey;
	border-bottom-width: 1px;
	text-align: center;
	display: inline-block;
	font-size: 15px;
	padding: 10px;
	margin: 5px;
	cursor: pointer;
	width: 25%;
}